
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  color: #8df800; 
}

p{
    font-weight: lighter;
    font-style: oblique;
    padding-right: 650px;
    margin-top: -10px;
}

ul{
    color: #8df800;
    list-style: none;
}

a{
    color: #8df800;
    text-decoration: none;
    font-weight: lighter;
    font-style: oblique;
}

.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    font-size: 52px;
    font-weight: 900;
}

.second-header{
    height: 20px;
    padding: 5px;
    margin-bottom: 65px;
    font-size: 20px;
    font-style: italic;
    animation-name: Forever;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background: none repeat scroll;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
}
@keyframes Forever {
    from {color:#8df800;}
    to {color: rgb(173, 209, 73);}
    to {color: rgb(158, 241, 23);}
    to {color: rgb(157, 240, 23);}
    to {color: rgb(231, 235, 35);}
    to {color: yellow;}
    to {color: rgb(214, 218, 13);}
    to {color: rgb(123, 255, 0);}
    to {color: rgb(50, 202, 4);}
}


.sidebar{
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(47, 49, 47);
    padding-right: 5px;
}

.glow{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from{
        text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 2px #5ce600, 0 0 3px, #7eff06 0 0 4px;
    }
    to{
        text-shadow: 0 0 3px #fff, 0 0 5px #ffffff, 0 0 6px #bbff4d, 0 0 7px, #7eff06 0 0 8px
    }
}

.calendar-size{
    display: flex;
    border-radius: 15%;
    width: 195px;
    height: 165px;
    top: 185px;
    right: 350px;
    position: absolute;
    animation-name: calendar;
    animation-duration: 8s;
}

@keyframes calendar {
    from {right: 15px;}
    to {right: 350px;}
    
        
}



